<div id="index-banner" class="valign-wrapper parallax-container" style="background-color: rgba(12, 39, 70, 0.85); height: 700px" >
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <div class="row center valign">
        <p><img class="container center-align" src="assets/idologo.png" style="width: 60%; height: 60%"></p>
        <h5 class="header col s12 light">Um sistema para fazer do seu casamento um momento muito mais tranquilo e feliz!</h5>
      </div>
      <div class="row center valign">
        <a href="/enterprises/new" class="waves-effect waves-light btn" style="background-color: rgba(217, 67, 100, 1.0); color:white"><i class="material-icons left" style="color:white">person_pin</i>Comece Agora</a>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/background1.png" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4 l3">
        <div class="icon-block">
          <div class="row center">
            <p><img src="assets/dress.png" style="width: 30%; height: 30%; color: rgba(235, 117, 135, 1.0)"></p>
            <h5 class="center">Vestido</h5>
          </div>

          <p class="light">Encontre fornecedores para os pincipais tipos de serviços relacionados a casamento, e faça a organização desse momento muito mais fácil e tranquilo!</p>
        </div>
      </div>

      <div class="col s12 m4 l3">
        <div class="icon-block">
          <div class="row center">
            <p><img src="assets/music.png" style="width: 30%; height: 30%; color: rgba(235, 117, 135, 1.0)"></p>
            <h5 class="center">Música</h5>
          </div>

          <p class="light">Encontre fornecedores para os pincipais tipos de serviços relacionados a casamento, e faça a organização desse momento muito mais fácil e tranquilo!</p>
        </div>
      </div>

      <div class="col s12 m4 l3">
        <div class="icon-block">
          <div class="row center">
            <p><img src="assets/decoration.png" style="width: 30%; height: 30%; color: rgba(235, 117, 135, 1.0)"></p>
            <h5 class="center">Decoração</h5>
          </div>

          <p class="light">Encontre fornecedores para os pincipais tipos de serviços relacionados a casamento, e faça a organização desse momento muito mais fácil e tranquilo!</p>
        </div>
      </div>

      <div class="col s12 m4 l3">
        <div class="icon-block">
          <div class="row center">
            <p><img src="assets/buffet.png" style="width: 30%; height: 30%; color: rgba(235, 117, 135, 1.0)"></p>
            <h5 class="center">Buffet</h5>
          </div>

          <p class="light">Encontre fornecedores para os pincipais tipos de serviços relacionados a casamento, e faça a organização desse momento muito mais fácil e tranquilo!</p>
        </div>
      </div>
      <br><br>
      <div class="col s12 m4 l6">
        <div class="icon-block">
          <div class="row center">
            <p><img src="assets/photo.png" style="width: 16%; height: 16%; color: rgba(235, 117, 135, 1.0)"></p>
            <h5 class="center">Fotografia</h5>
          </div>

          <p class="light">Encontre fornecedores para os pincipais tipos de serviços relacionados a casamento, e faça a organização desse momento muito mais fácil e tranquilo!</p>
        </div>
      </div>

      <div class="col s12 m4 l6">
        <div class="icon-block">
          <div class="row center">
            <p><img src="assets/cerimonial.png" style="width: 19%; height: 19%; color: rgba(235, 117, 135, 1.0)"></p>
            <h5 class="center">Cerimonial</h5>
          </div>

          <p class="light">Encontre fornecedores para os pincipais tipos de serviços relacionados a casamento, e faça a organização desse momento muito mais fácil e tranquilo!</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper" style="background-color: rgba(113, 146, 191, 0.8)">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h4 class="header col s12 light">Tenha contato com os melhores profissionais do mercado</h4>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/background2.png" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Nos ajude a crescer</h4>
        <p class="left-align light">Compartilhe suas palestras favoritas nas suas redes sociais favoritas, indique amigos e ganhe descontos nas compras das próximas palestras;</p>
      </div>
    </div>

  </div>
</div>

<div class="parallax-container valign-wrapper" style="background-color: rgba(12, 39, 70, 0.7)">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Profissionalize-se: use o conhecimento adquirido para buscar novas oportunidades</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/background3.png" alt="Unsplashed background img 3"></div>
</div>

<footer class="page-footer" style="background-color: rgba(235, 117, 135, 1.0)">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Biografia</h5>
        <p class="grey-text text-lighten-4">Projeto desenvolvido por um time de estudantes do curso de Engenharia de Software da Universidade de Brasília para a diciplina de Desenvolvimento Avançado de Software</p>

      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Configurações</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Conecte-se</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright" style="background-color: rgba(217, 67, 100, 1.0)">
    <div class="container">
    Feito com <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>