<nav class="top-nav">
     <div class="nav-wrapper">
         <a href="#" class="brand-logo">CAT</a>
         <ul class="right">
            <li><a href="#">Logout</a></li>
         </ul>
    </div>
</nav>

<div class='row'>
  <div class='col 6 offset-s3'>
  <h5>Criar conta para sua empresa</h5>
</div>

<%= render 'form' %>

<%= link_to 'Back', enterprises_path %>
